/* Footer */

footer{
    padding: var(--default-spacing);
    background: var(--base);
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-right{
    display: flex;
}

.intro-section{
    width: 20%;
    color: var(--white);
}

.footer-logo-header{
    color: var(--white);
}

.footer-logo-text{
    color: var(--white);
}

.footer-description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 30ch;
    padding-top: 2vw;
}



.site-links-section{
    width: 50%;
    padding: 0 2rem;
}

.footer-header{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    font-family: var(--accent-font);
    padding-bottom: 2vw;
}

.site-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1vw;
}

.site-links > .nav-item{
    padding: 0;
}

.site-links > .nav-item > a{
    color: var(--white);
}

.contact-info{
    width: 50%;
}

#contact-method-first{
    padding-top: 0;
}

.contact-method{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
}

.contact-method-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: var(--white);
} 

.contact-method-description > a{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
}

.social-media-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.social-media-container > a > img{
    width: 30px;
}

.footer-map{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-map > img{
    min-width: 300px;
    width: 100%;
}

.footer-map > img:hover{
    transform: scale(1.2);
    transition: all ease-in-out .5s;
}

.credits{
    background-color: var(--base);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--default-spacing);
}

@media only screen and (max-width:1100px){
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .site-links > .nav-item:first-of-type{
        padding-top: 0;
    }

    .site-links-section{
        min-width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--default-spacing) 0;
        text-align: center;
    }

    .footer-header{
        text-align: center;
    }

    .intro-section{
        text-align: center;
        width: 100%;
    }

    .footer-right{
        flex-direction: column;
    }

    .contact-info{
        min-width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--default-spacing);
    }

    .contact-method{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .credits{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }
}