nav{
    display: flex;
    justify-content: space-between; 
    padding: 2vw var(--default-spacing);
}

.logo-container-link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img{
    width: 70px;
    height: 70px;
}

.logo-header{
    font-family: 'Alegreya';
    font-weight: 700;
    font-size: 24px;
    color: var(--base-dark);
}

.logo-description{
    font-weight: 400;
    font-size: 12px;
    color: var(--base-dark);
    
}

.nav-link-container{
    display: flex;
    align-items: center;
    list-style: none;
    /* font-size: 18px; */
}

.nav-item{
    padding: 0 2vw;
    /* font-size: clamp(1rem, 1vw, 2rem); */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.nav-item > a{
    color: var(--base-dark);
}

.hamburger{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    font-size: 1.8rem;
    color: var(--base-dark)
}

@media only screen and (max-width: 1100px){
    .hamburger{
        display: block;
    }

    .nav-link-container{
        position: fixed; 
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        background: var(--base);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 100000;
    }

    .responsive-nav{
        transform: none;
    }

    .nav-close-button{
        color: var(--white);
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav-item a{
        color: var(--white);
    }
}

@media only screen and (max-width: 575px){
    .logo-img{
        width: 50px; 
        height: 50px;
    }

    /* .logo-header{
        font-size: 16px;
    } */

    .logo-description{
        font-size: 10px;
    }
}