@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --base: #244E3A;
  --base-hover: #005f3f81;
  --white: #FFFFFF;
  --base-dark: #000000;
  --white-hover: #ffffff77;

  --default-spacing: 7vw;

  --accent-font: 'Alegreya';
  --base-font: 'Nunito';
}

*{
  margin: 0;
  padding: 0;
}

body {
* {
  margin: 0;
  font-family: var(--base-font);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.section-header-container{
  height: 20vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--default-spacing);
  padding-right: var(--default-spacing);
}

.section-header{
  font-weight: 700;
  font-family: var(--accent-font);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  color: var(--base);
}

/* .background-hero{
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: url("./hero-bg.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.background-hero-text{
  color: var(--white);
  padding: 10vw 0 15vw var(--default-spacing);
}

.background-hero-heading{
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: clamp(2.3rem, 4vw, 6rem);
}

.background-hero-description{
  font-size: clamp(1rem, 1.1vw, 2rem);
} */

textarea:focus, input:focus{
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


center-links a.active {
  color: gray;
}

center-links {
  align-content: center;
}
